<div class="row">
    <div class="col-md-4">
        <form #frm="ngForm">
            <div class="form-group">
                <input #txtName="ngModel" type="text" name="name" placeholder="Name" class="form-control" [(ngModel)]="task.name" required
                />
                <span class="text-danger" *ngIf="txtName.dirty && txtName.errors.required">Required</span>
                <span class="text-danger" *ngIf="txtName.dirty && txtName.errors.required">Min 3 Chars</span>
                <span class="text-danger" *ngIf="txtName.dirty && txtName.errors.required">Max 10 Chars</span>
            </div>
            <div class="form-group">
                <input type="text" #txtCategory="ngModel" name="category" placeholder="Category" class="form-control" [(ngModel)]="task.category"
                    required/>
                <span class="text-danger" *ngIf="txtCategory.dirty&&txtCategory.errors.required">Required</span>
            </div>
            <div class="form-group">
                <input type="text" name="priority" placeholder="Category" class="form-control" [(ngModel)]="task.priority" />
            </div>
            <div class="form-group">
                <button class="btn btn-success pull-right" (click)="onSave()" [disabled]="frm.invalid">
                    Save New task
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="col-md-5">
    <div class="well" *ngFor="let task of tasks | async">
        <app-task [task]="task"></app-task>
    </div>
</div>