<div class="row">
    <div class="col-md-4">
        <form #frm="ngForm">
            <div class="form-group">
                <input #txtName="ngModel" required type="text" name="name" placeholder="Name" class="form-control" [(ngModel)]="task.name" />
                <span class="text-danger" *ngIf="txtName.dirty && txtName.errors?.required">Required</span>
                <span class="text-danger" *ngIf="txtName.dirty && txtName.errors?.minlength">Min 3 Chars</span>
                <span class="text-danger" *ngIf="txtName.dirty && txtName.errors?.maxlength">Max 10 Chars</span>
            </div>
            <div class="form-group">

                <select #txtCategory="ngModel" [(ngModel)]="task.category" name="category" class="form-control" required>
                    <optgroup>
                        <option>--select--</option>
                        <option>General</option>
                        <option>Shopping</option>
                        <option>Other</option>
                    </optgroup>
                </select>

                <!-- <input type="text" #txtCategory="ngModel" name="category" placeholder="Category" class="form-control" [(ngModel)]="task.category"
                    /> -->
                <span class="text-danger" *ngIf="txtCategory.dirty&&txtCategory.errors?.required">Required</span>
            </div>
            <div class="form-group">
                High <input type="radio" name="priority" value="High" [(ngModel)]="task.priority"/>
                Low <input type="radio" name="priority" value="Low" [(ngModel)]="task.priority"/>
                Medium <input type="radio" name="priority" value="Medium" [(ngModel)]="task.priority"/>
                <!-- <input type="text" name="priority" placeholder="Priority" class="form-control" [(ngModel)]="task.priority" /> -->
            </div>
            <div class="form-group">
                <button class="btn btn-success pull-right" (click)="onSave()" [disabled]="frm.invalid">
                    Save New task
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>